/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button, summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--tekstKleur:#111;
	--rozeKleur: #e43f7e;
	--buttonKleur: #111;
	--achtergrondKleur: #fff;
	--buttontekstKleur: #fff;
	--afbeeldingTekstKleur: #fff;
	--tekstKleurBeschrijving: grey;
	--grijzeAchtergrondKleur: #ededed;
	--mainFont: "Montserrat", Arial, Helvetica, sans-serif;
}

body {
	margin: 0;
	color: var(--achtergrondKleur);
}


/*********************/
/* BASIS */
/*********************/

h1, h2, h3, h4, p, a {
	font-family: "Montserrat", Arial, Helvetica, sans-serif;
	color: var(--tekstKleur);
	text-decoration: none;
}


/*********************/
/* NAVIGATIE 1 */
/*********************/

header nav {
	background-color: var(--achtergrondKleur);
}

header nav:nth-of-type(2) {
	background-color: var(--achtergrondKleur);
}

header nav ul {
	display: flex;
	list-style-type: none;
	justify-content: center;
	margin: 0;
	padding: 0;
}

header nav ul li img {
	width: 2.5em;
}

header nav li{
	margin-top: 1em;
}

header nav:nth-of-type(2) li:nth-of-type(3){ 
	font-family: var(--mainFont);
	text-transform: uppercase;
	letter-spacing: 0.4em;
	grid-column: span 4;
	margin: auto;
}

header nav a {
	text-decoration: none;
	color: var(--tekstKleur);
	font-weight: lighter;
	font-size: medium;
}

header nav a:hover {
	color: var(--rozeKleur);
	font-size: 1.2em;
	font-weight: bold;
}

header nav a:focus {
	color: var(--rozeKleur);
	font-size: 1.2em;
	outline: none;
	font-weight: bold;
}

header nav a:active {
	color: var(--rozeKleur);
	font-size: 1.2em;
	outline: none;
	font-weight: bold;
}

header nav:nth-of-type(2) ul h1 a:hover {
	font-size: 0.8em;
}

header nav:nth-of-type(2) ul h1 a:focus {
	font-size: 0.8em;
}

header nav:nth-of-type(2) ul h1 a:focus {
	font-size: 0.8em;
}

/*********************/
/* WERKEND MENU */
/*********************/

header button img{
	width: 3.2em;
}

header button{
	border: none;
	background-color: var(--achtergrondKleur);
	padding: 0;
}

/* open */
header > button {
	/* order:-1; */
	position: relative;
	z-index: 3;
}

/* sluit */
header nav button {
	z-index: 1;
	padding-right: 1em;
	padding-bottom: 0.8em;
	transition: transform .2s;
}

header nav button:hover {
	transform: scale(1.3);
}

header nav button:focus {
	border-style: solid;
	border-width: 0.3em;
	border-color: var(--rozeKleur);
}

header nav:nth-of-type(1) {
	transform:translatex(-100%);
	transition:transform .3s;
	position: fixed;
	top: 0;
	z-index: 3;
	max-width: 90%;
	height: 100vh;
	overflow-y: auto;
}

header nav.toonMenu {
	transform:translatex(0);
}

header nav:nth-of-type(1) ul {
	display: flex;
	background-color: var(--achtergrondKleur);
	max-width: 90%;
	flex-direction: column;
}

header nav:nth-of-type(1) ul li a {
	padding-left: 1em;
}

header nav:nth-of-type(1) button img {
	width: 3em;
	padding-left: 1em;
	padding-top: 1em;
}

header nav:nth-of-type(1) ul li {
	font-family: var(--mainFont);
	font-weight: 600;
	line-height: 3em;
}
header nav:nth-of-type(1) ul img {
	width: 90vw;
	padding: 0;
}
/*********************/
/* NAVIGATIE 2 */
/*********************/

main nav ul {
	display: flex;
	overflow-x: auto;
	gap: 2em;
	margin: 0;
	padding: 0;
	list-style-type: none;
	padding-left: 1em;
	padding-right: 1em;
}

main nav ul li {
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: var(--mainFont);
	text-align: center;
	text-transform: uppercase;
	font-weight: 600; 
	font-size: small;
	margin-top: 1em;
}

main nav ul li a p:hover {
	color: var(--rozeKleur);
}

main nav ul li a:focus {
	border-style: solid;
	border-width: 0.3em;
	border-color: var(--rozeKleur);
	outline: none;
}

main nav ul li img {
	width: 6em;
	transition: transform .2s;
}

main nav ul li img:hover {
	transform: scale(1.15);
}

main nav ul li img:focus {
	width: 6.5em;
} 

/*********************/
/* HOLIDAY STYLES */
/*********************/

section:nth-of-type(1) h2:nth-of-type(1) {
	text-align: center;
	font-size: small;
	background-color: var(--buttonKleur);
	color: var(--buttontekstKleur);
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	margin-bottom: 0;
	grid-column-start: 1;
	grid-column-end: span 6;
}

section:nth-of-type(1) h2:nth-of-type(2) {
	text-align: center;
	font-size: small;
	background-color: var(--rozeKleur);
	color: var(--buttontekstKleur);
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	margin-top: 0;
	margin-bottom: 0;
	grid-column-start: 1;
	grid-column-end: span 6;
}

section:nth-of-type(1) img {
	width: 100%;
	height: auto;
	grid-row-start: 3;
	grid-row-end: span 5;
	grid-column-start: 1;
	grid-column-end: span 6;
}

main section:nth-of-type(1) button {
	border: none;
	background-color: var(--buttonKleur);
	color: var(--buttontekstKleur);
	text-transform: uppercase;
	font-weight: bold;
	font-family: var(--mainFont);
	padding-top: 1em;
	padding-bottom: 1em;
	grid-row-start: 6;
	grid-column-start: 2;
	grid-column-end: span 4;	
}

main section:nth-of-type(1) button:hover {
	background-color: var(--achtergrondKleur);
	color: var(--buttonKleur);
	transition: 0.1s;
	animation-name: buttonAnimatie;
	animation-duration: 1s;
}

main section:nth-of-type(1) button:focus {
	background-color: var(--rozeKleur);
	color: var(--afbeeldingTekstKleur);
	outline: none;
}

main section:nth-of-type(1) button:active {
	background-color: var(--rozeKleur);
	color: var(--afbeeldingTekstKleur);
}

main section:nth-of-type(1) {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
}

h3 {
	font-size: medium;
	padding-left: 1em;
	margin-top: 1em;
	margin-bottom: 1em;
}

@keyframes buttonAnimatie {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(1.5turn);
	}
}

/*********************/
/* CAROUSEL PRODUCTEN */
/*********************/

h4 {
	font-size: small;
	line-height: 0.2em;
}

h4:hover {
	color: var(--rozeKleur);
}

h4:active {
	color: var(--rozeKleur);
}

main section:nth-of-type(2) div a:focus h4 {
	color: var(--rozeKleur);
}

main section:nth-of-type(2) div a:active h4 {
	color: var(--rozeKleur);
}

main section:nth-of-type(2) div a:focus {
	outline: none;
}

main section:nth-of-type(2) {
	display: flex;
	padding-left: 1em;
	padding-right: 1em;
	gap: 1em;
	overflow-x: auto;
	margin-bottom: 2em;
}

main section:nth-of-type(2) p:nth-of-type(1) {
	font-size: small;
	color: var(--tekstKleurBeschrijving);
	justify-self:baseline ;
}

main section:nth-of-type(2) p:nth-of-type(2) {
	font-size: smaller;
}

main section:nth-of-type(2) button {
	grid-column-start: 2;
	grid-row-start: 3;
	border: none;
	background-color: var(--achtergrondKleur);
}

main section:nth-of-type(2) button img:nth-of-type(1) {
	width: 2em;
	margin-top: 0.7em;
	display: block;
}

main section:nth-of-type(2) button:focus img:nth-of-type(1) {
	border-style: dotted;
	border-color: var(--rozeKleur);
	border-width: 0.3em;
	width: 2.4em;
}

main section:nth-of-type(2) button:focus {
	outline: none;
}

main section:nth-of-type(2) button:hover img:nth-of-type(1) {
	width: 2.5em;
}

main section:nth-of-type(2) button:active img:nth-of-type(1) {
	width: 2.5em;
}

main section:nth-of-type(2) button:hover img:nth-of-type(2) {
	width: 2.5em;
}

main section:nth-of-type(2) button:active img:nth-of-type(2) {
	width: 2.5em;
}

main section:nth-of-type(2) button:focus img:nth-of-type(2) {
	border-style: dotted;
	border-color: var(--rozeKleur);
	border-width: 0.3em;
	width: 2.4em;
}
main section:nth-of-type(2) button img:nth-of-type(2) {
	width: 2.2em;
	margin-top: 0.5em;
	grid-column-start: 2;
	display: none;
}

@keyframes likeButton-animation {
	0% {
	  transform:scale(1);
	}
	100% {
	  transform:scale(2);
	}
}
  
main section:nth-of-type(2) button.liked img:nth-of-type(2):hover {
	animation-name:likeButton-animation;
	animation-duration:1s;

}

main section:nth-of-type(2) button.liked img:nth-of-type(1) {
	display: none;
}

main section:nth-of-type(2) button.liked img:nth-of-type(2) {
	display: block;
	
}

main section:nth-of-type(2) div {
	grid-row-start: 3;
	grid-column: 1/2;
}

main section:nth-of-type(2) img:nth-of-type(1) {
	width: 12em;
	grid-column: 1/3;
	transition: transform .1s;
}

main section:nth-of-type(2) img:nth-of-type(1):hover {
	transform: scale(1.05);
}

main section:nth-of-type(2) article {
	display: grid;
}



/*********************/
/* VIDEO */
/*********************/

main section:nth-of-type(3) video {
	width: 100%;
	position: relative;
	margin: 0%;
	padding: 0%;
}


/*********************/
/* FOOTER */
/*********************/

footer {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

footer p {
	padding-left: 1em;
	font-size: smaller;
}

form {
	display: flex;
	align-content: center;
	justify-content: center;
	flex-direction: column;
	max-width: 90%;
	margin: auto;
}

footer label {
	font-family: var(--mainFont);
	font-size: 0.8em;
	font-weight: bold;
	padding-right: 70%;
	padding-bottom: 0.3em;
	
}

footer input {
	padding: 1em;
	border-style: solid;
	border-color: var(--grijzeAchtergrondKleur);
	border-width: 0.1em;
	margin-bottom: 0.5em;
}

footer input:hover {
	background-color: var(--grijzeAchtergrondKleur);
	transition: 0.2s;
}

footer input:focus {
	background-color: var(--grijzeAchtergrondKleur);
	transition: 0.2s;
}

footer input:active {
	background-color: var(--grijzeAchtergrondKleur);
	transition: 0.2s;
}

footer section button {
	margin-left: 1em;
	color: var(--tekstKleur);
	font-weight: 600;
	text-transform: uppercase;
	font-family: var(--mainFont);
	background-color: var(--achtergrondKleur);
	border-color: var(--buttonKleur);
	border-width: 0.1em;
	padding-top: 1em;
	padding-bottom: 1em;
	display: block;
	margin: 0 auto;
	width: 100%
}

footer section button:hover {
	color: var(--buttontekstKleur);
	background-color: var(--buttonKleur);
	border-color: var(--buttonKleur);
}

footer section button:focus {
	background-color: var(--rozeKleur);
	color: var(--buttontekstKleur);
	outline: none;
	border: none;
}

footer section button:active {
	background-color: var(--rozeKleur);
	color: var(--buttontekstKleur);
}

footer nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	padding-left: 1.5em;
	line-height: 3.5em;
	font-size: smaller;
	margin-top: 1.5em;

}

footer nav ul li a:hover {
	font-weight: bold;
}

footer nav ul li a:focus {
	font-weight: bold;
	font-size: 1.2em;
	color: var(--rozeKleur);
	outline: none;
}

footer section:nth-of-type(2) ul {
	list-style: none;
	margin: 0;
	padding: 0;
	padding-left: 1.5em;
	padding-top: 1em;
	padding-bottom: 1em;
	gap: 1em;
	display: flex;
	justify-content: center;
	width: 100vw;
}

footer section:nth-of-type(2) ul {
	list-style: none;
	margin: 0;
	padding: 0;
	padding-left: 1.5em;
	padding-top: 1em;
	padding-bottom: 1em;
	gap: 1em;
	display: flex;
	justify-content: center;
	width: 100vw;
	
}

footer section:nth-of-type(2) ul li img{
	width: 1em;
	transition: transform .2s;
}

footer section:nth-of-type(2) ul li img:hover{
	transform: scale(2);
}

footer section:nth-of-type(2) ul li img:active{
	transform: scale(2);
}

footer section:nth-of-type(2) ul li a:focus img{
	width: 2em;
	border-style: dotted;
	border-color: var(--rozeKleur);
	border-width: 0.2em;
}

footer section:nth-of-type(2) ul li a:focus {
	outline: none;
}

/*********************/
/* PAGINA 2 */
/*********************/

.pagina2 body {
	margin: 0;
}

/*********************/
/* FOTO SCROLL */
/*********************/

.pagina2 main section:nth-of-type(1) {
	display: flex;
	overflow-x: auto;
	margin-top: 0.2em;
}

.pagina2 main section img {
	width: 100%;
	max-width: 40em;
}

/*********************/
/* BESCHRIJVING */
/*********************/

.pagina2 main p {
	padding-left: 1em;
	font-size: smaller;
}

.pagina2 main button {
	border: none;
	background-color: var(--achtergrondKleur);
}
.pagina2 main button img:nth-of-type(1) {
	width: 2em;
	margin-top: 0.7em;
	display: block;
}

.pagina2 main button:hover img:nth-of-type(1) {
	width: 2.5em;
}

.pagina2 main button:hover img:nth-of-type(2) {
	width: 2.5em;
}

.pagina2 main button img:nth-of-type(2) {
	width: 2.2em;
	margin-top: 0.5em;
	display: none;
}

.pagina2 main button.liked img:nth-of-type(1) {
	display: none;
}

.pagina2 main button.liked img:nth-of-type(2) {
	display: block;	
}

.pagina2 main h5 {
	font-family: var(--mainFont);
	font-weight: 400;
	color: var(--tekstKleur);
	background-color: #ededed;
	padding: 1em;
	display: block;
	margin: 0 auto;
	margin-bottom: 1em;
	width: 95%;
}

.pagina2 main h5:hover {
	background-color: var(--rozeKleur);
	color: var(--afbeeldingTekstKleur);
}

.pagina2 main button:nth-of-type(1){
	margin-left: 0.5em;
}

.pagina2 main button:nth-of-type(1):hover img{
	transform: scale(1.1);
	transition: .3s;
}

.pagina2 main button:nth-of-type(1):active img{
	transform: scale(1.1);
	transition: .3s;
}

.pagina2 main button:nth-of-type(1):focus img{
	border-color: var(--rozeKleur);
	border-style: dotted;
	border-width: 0.3em;
	width: 2.4em;
}

.pagina2 main button:nth-of-type(1):focus {
	outline: none;
}

.pagina2 main button:nth-of-type(2) {
	margin: 0 auto;
	color: var(--buttontekstKleur);
	font-weight: 600;
	text-transform: uppercase;
	font-family: var(--mainFont);
	background-color: var(--buttonKleur);
	border-color: var(--buttonKleur);
	border-width: 0.1em;
	border-style: solid;
	padding-top: 1em;
	padding-bottom: 1em;
	display: block;
	width: 95%;
}

.pagina2 main button:nth-of-type(2):hover {
	color: var(--tekstKleur);
	background-color: var(--achtergrondKleur);
	border-color: var(--buttonKleur);
}

.pagina2 main button:nth-of-type(2):focus {
	color: var(--buttontekstKleur);
	background-color: var(--rozeKleur);
	border: none;
	outline: none;
}

.pagina2 main button:nth-of-type(2):active {
	color: var(--buttontekstKleur);
	background-color: var(--rozeKleur);
	border: none;
	outline: none;
}

.pagina2 main h3 {
	margin-top: 2em;
}

.pagina2 main ul {
	list-style: none;
	padding: 0;
	margin: 0;
	padding-left: 1em;
	font-family: var(--mainFont);
	font-size: small;
	line-height: 1.5em;
}

/*********************/
/* MEER OVER DIT PRODUCT */
/*********************/

.pagina2 summary {
	font-family: var(--mainFont);
	font-weight: 600;
	padding-left: 1em;
	padding-top: 1em;
	color: var(--tekstKleur);
}

.pagina2 summary:hover {
	color: var(--rozeKleur);
}

.pagina2 summary:active {
	color: var(--rozeKleur);
}

.pagina2 summary:focus {
	color: var(--rozeKleur);
	outline: none;
	text-decoration: underline;
	text-decoration-style: wavy;
}

/*********************/
/* COMBINEER MET */
/*********************/

.pagina2 main section:nth-of-type(2) article div p {
	padding:0;
}

/*********************/
/* KLARNA */
/*********************/

.pagina2 main section:nth-of-type(3) img {
	width: 5em;
}

.pagina2 main section:nth-of-type(3) a {
	text-decoration: underline;
}

.pagina2 main section:nth-of-type(3) a:hover {
	font-weight: bold;
}

.pagina2 main section:nth-of-type(3) a:focus {
	font-weight: bold;
	font-size: 1.1em;
	color: var(--rozeKleur);
	outline: none;
	border-style: dotted;
	border-color: var(--rozeKleur);
	text-decoration: none;
	border-width: 0.3em;
}

.pagina2 main section:nth-of-type(3) {
	display: flex;
	justify-content: center;
	margin-bottom: 1em;
	border-width: 0.1em;
	border-style: solid;
	border-color: var(--grijzeAchtergrondKleur);
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	margin-left: 1em;
	margin-right: 1em;
}

